<!DOCTYPE html>
<html lang="en" ng-app="dssApp">
<head>
  <meta charset="UTF-8">
  <title>DSS</title>
  <link rel="stylesheet" href="lib/css/foundation.min.css" />
  <link rel="stylesheet" href="lib/css/nouislider.fox.css" />
  <link rel="stylesheet" href="src/css/main.css" />
  <script src="lib/js/custom.modernizr.js"></script>
</head>
<body>
  <div class="row header">
    <div class="large-12 columns">
      <header>
        <div class="logo"></div>
      </header>
    </div>
  </div>

  <div class="row container">
    <div ng-controller="requirements">
      <div class="large-4 columns firstLevelRequirements" >
        <div ng-repeat="requirement in requirements | filter: { level: 1 }">
          <label class="right"><a ng-click="showSubcategory(requirement.name)">Details &raquo;</a></label>
          <label style="margin-bottom: 5px;">{{ requirement.name | capitalize }}</label>
          <span class="label secondary radius right requirementValue">-</span>
          <div slider="{{ requirement.attributes }}" style="width: 90%; margin-top: 10px;" class="noUiSlider"></div>
          <br>
        </div>
      </div>
      <div ng-repeat="requirement in requirements | filter: { level: 1 }">
        <div class="thirdLevelRequirements" id="{{ requirement.name }}">
          <p>{{ requirement.name | capitalize }}</p>
          <div class="row collapse">
            <div class="large-9 columns">
              <form class="custom">
              <select>
                <option ng-repeat="requirementThirdLevel in requirements | filter: { level: 3 } | filter:requirement.name" value="{{ requirementThirdLevel.name }}">{{ requirementThirdLevel.name | capitalize }}</option>
              </select>
            </div>
            <div class="large-3 columns">
                <button class="button postfix">Add</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="large-8 columns content">
      <h2>placeholder for the content</h2>
    </div>
  </div>


  <script src="lib/js/jquery.js"></script>
  <script src="lib/js/jquery.nouislider.js"></script>
  <script src="lib/js/angular.min.js"></script>
  <script src="lib/js/foundation.min.js"></script>
  <script src="http://localhost:2480/js/orientdb-api.js"></script>
  <script src="src/js/main.js"></script>
</body>
</html>
